.Todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0px;
}

.Todo:nth-child(odd) {
  background-color: rgba(54, 92, 123, 0.1);
}

.Todo:nth-child(even):hover {
  background-color: rgba(54, 92, 123, 0.2);
}

.Todo:nth-child(odd):hover {
  background-color: rgba(54, 92, 123, 0.25);
}

.Todo-description {
  font-family: "Open-sans", sans-serif;
  letter-spacing: 1.1px;
  margin-left: 20px;
}

.Todo-icon {
  margin-left: 20px;
  font-size: 20px;
  color: #424242;
  margin-right: 20px;
}

.complete {
  text-decoration: line-through;
  font-style: italic;
  opacity: 0.8;
}

.Todo-check {
  display: flex;
}
